extends layout.pug
include partials/offers-list.pug

block content

  main.page-content
    include partials/categories.pug
    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title= category.title
            b.js-qty= ` ${offers.length}`
        +offers-list(offers)
        include partials/tickets-list-pagination.pug
