extends layout.pug
include partials/categories.pug
include partials/offers-list.pug

block content
  main.page-content
    +categories(categories)
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        +offers-list(offers)
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        +offers-list(offers)
