extends layout.pug
include partials/offers-list.pug

block content
  -var OFFER_LIST_TYPE = `my-offers`
  main.page-content
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href="/offers/add")
          span Новая публикация
      if offers.length > 0
        +offers-list(offers, OFFER_LIST_TYPE)
